*.py[cod]

# C extensions
*.so
*.o
*.a
long_seq_tm_test
ntdpal
ntthal
oligotm
primer3_core
amplicon3_core
primer3_masker

# cython artifacts
primer3/thermoanalysis.c
primer3/p3helpers.c

# test artifacts
primer3/src/libprimer3/long_seq_tm_test.dSYM/
primer3/src/libprimer3/oligotm.dSYM/
primer3/src/libprimer3/amplicon3_core.dSYM/
primer3/src/libprimer3/primer3_masker.dSYM/

# Packages
*.egg
*.egg-info
.eggs/
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# MacOS
.DS_Store

.vscode/

# Docs artifacts
_build/
docs/_build/
