*.py[cod]

# C extensions
*.so
*.o
*.a
long_seq_tm_test
ntdpal
ntthal
oligotm
primer3_core

# cython artifacts
primer3/thermoanalysis.c

# test artifacts
primer3/src/libprimer3/long_seq_tm_test.dSYM/
primer3/src/libprimer3/oligotm.dSYM/

# Packages
*.egg
*.egg-info
.eggs/
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# OS X
.DS_Store
