include README.rst LICENSE CHANGES
include valgrind-python.supp
include primer3/src/*.pxd primer3/src/*.pyx primer3/src/*.h primer3/src/*.c
recursive-include primer3/test_files *
recursive-include primer3/src/libprimer3 *