include README.md LICENSE CHANGES AUTHORS
include primer3/*.pxd primer3/*.pyx primer3/src/*.h primer3/src/*.c
recursive-include primer3/src/libprimer3 *.c *.h *.ds *.dh
prune primer3/thermoanalysis.c
